$font-weight-less: 400;
$font-weight-medium: 500;
$font-weight-big: 600;

$primary-font: 'Onest';

$primary-background: #000;
$primary-color: white;
$second-primary-color: #000;

$topic-size-huge-screen: 54px;
$topic-size-mid-screen: 40px;
$topic-size-small-screen: 24px;

$primary-text-size: 20px;
$primary-text-size-mobile: 18px;
$primary-description-text-size: 16px;
$primary-description-size: 14px;
